.container {
  display: flex;
  height: 100vh;
}

.mainContent {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a2e;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .mainContent {
    min-height: 55vh;
  }
}
